{% extends 'base.html.twig' %}

{% block title %}New Project Milestone{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{path('project_milestone_index',{'project': project.id})}}">{% trans %} Project Milestone {% endtrans %}</a>
</li>
<li class="breadcrumb-item active">{% trans %} New {% endtrans %}</li>
{% endblock %}
{% block pagetitle %}{% trans %} New Project Milestone {% endtrans %}
{% endblock %}
{% block body %}
{% if is_granted("project_milestone_create") %}
    <div class="card card-info">
        <div class="card-header">
            <h3>{% trans %} New Project Milestone{% endtrans %}</h3>
        </div>
        <div class="card-body">
            {{ include('project/milestone/_form.html.twig') }}
        </div>
    </div>
<br>
{% endif %}
{% endblock %}