{% if is_granted("email_template_delete") %}
<form method="post" class="d-inline" action="{{ path('email_template_delete', {'id': email_template.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ email_template.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
{% endif %}