{{ form_start(form) }}
<div class="form-group"> {{ form_widget(form.content,{'attr':{'class':'form-control wyiswig'}}) }}
	<div class="help-block with-errors"></div>
</div>
<button class="btn btn-block btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
