{% extends 'security/login.html.twig' %}

{% block body %}
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">{% trans %}You are only one step a way from your new password now{% endtrans %}.</p>
			{{ form_start(form,{'attr': {'role':'form'}}) }}

			<div class="input-group mb-3">
				{{ form_widget(form.newPassword.first,{'attr':{'class':'form-control','placeholder':'New password'}}) }}
				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>
			<div class="input-group mb-3">
				{{ form_widget(form.newPassword.second,{'attr':{'class':'form-control','placeholder':'Confirm password'}}) }}

				<div class="input-group-append">
					<div class="input-group-text">
						<span class="fas fa-lock"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button type="submit" class="btn btn-primary btn-block">{% trans %}Change password{% endtrans %}</button>
				</div>
			</div>

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
