{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{path('project_index')}}">{% trans %} Project {% endtrans %}</a>
</li>
<li class="breadcrumb-item active">{% trans %} New {% endtrans %}</li>
{% endblock %}
{% block pagetitle %}{% trans %} New Project {% endtrans %}
{% endblock %}
{% block body %}
{% if is_granted("project_create") %}
    <div class="card card-info">
        <div class="card-header">
            <h3>{% trans %} New Project{% endtrans %}</h3>
        </div>
        <div class="card-body">
            {{ include('project/_form.html.twig') }}
        </div>
    </div>
<br>
{% endif %}
{% endblock %}